#about h3{
    display: flex;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 30px;
    font-family: Calibre, Inter, “San Francisco”, “SF Pro Text”, -apple-system, system-ui, sans serif;
    color: green;
}

.moi{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    font-family: Calibre, Inter, “San Francisco”, “SF Pro Text”, -apple-system, system-ui, sans serif ;
    color: #8892b0;
}

